@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
html {
  font-size: 10px;
}
* {
  font-family: "Barlow", sans-serif;
}

body {
  font-family: "Barlow", sans-serif;
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 2.3rem 2.4rem 0;
  gap: 13.65rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.pre-order-button {
  width: fit-content;
  padding: 0 1rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  background: #e8eff2;
  color: #162542;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
}

.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.about-product h1 {
  color: #162542;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 4.8rem;
  width: 12ch;
  text-transform: uppercase;
}

.about-product p {
  color: #7b8bad;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 36ch;
}

.purchase {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.pre-order-now {
  width: fit-content;
  padding: 0 1rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  background: #f16718;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.6rem;
}

.release-on {
  color: #7b8bad;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}

.for-mobile {
  margin-top: 7rem;
  width: 35rem;
  height: 33.1rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-left: 3rem;
}

.for-tablet {
  display: none;
}

.for-desktop {
  display: none;
}

.parent {
  display: flex;
  flex-direction: column;
}

.two-keyboards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}

.phone-keyboard {
  background-image: url(./assets/image-phone-and-keyboard-mobile.jpg);
  width: 12.9rem;
  height: 19.3rem;
  background-size: cover;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  background-repeat: no-repeat;
  background-position: top;
  position: relative;
  z-index: -1;
  right: 2rem;
  background-color: #f16718;
  background-blend-mode: multiply;
}

.glass-keyboard {
  width: 22rem;
  height: 19.3rem;
  border-radius: 2rem;
  transform: translateX(-2rem);
}
.glass-tablet {
  display: none;
}

.glass-desktop {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5rem;
  gap: 2.4rem;
}

.text h2 {
  color: #162542;
  text-align: center;
  font-size: 3.2rem;
  font-weight: 900;
  line-height: 3.6rem;
  text-transform: uppercase;
  width: 12ch;
}

.text p {
  color: #7b8bad;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 35ch;
}

.whole-container {
  margin-top: 11.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.icon {
  width: 6.5rem;
  height: 6.5rem;
  background: hsla(22, 88%, 52%, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.5rem;
}

.box .under-icon {
  color: #162542;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 900;
  line-height: 2.8rem;
  text-transform: uppercase;
}

.monitor {
  width: 12ch;
}

.battery {
  width: 14ch;
}

.bulb {
  width: 14ch;
}

.easy-texts {
  color: #7b8bad;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
}

.width1 {
  width: 37ch;
}

.width2 {
  width: 36ch;
}

.width3 {
  width: 35ch;
}

.width4 {
  width: 36ch;
}

footer {
  margin-top: 9.6rem;
  padding-bottom: 5rem;
}

footer p {
  color: #7b8bad;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
}

footer span {
  font-weight: 500;
}

@media only screen and (min-width: 48rem) {
  header {
    padding: 4.9rem 4rem 0;
    gap: 47.4rem;
  }

  .pre-order-button {
    padding: 1rem 2.6rem;
  }

  .description {
    display: flex;
    flex-direction: row;
    margin-top: 13.1rem;
    gap: 6.9rem;
  }

  .about-product {
    gap: 3.4rem;
  }

  .purchase {
    gap: 3.7rem;
  }

  .pre-order-now {
    padding: 1rem 2.6rem;
  }

  .keyboard {
    margin-top: 6.2rem;
  }

  .for-mobile {
    display: none;
  }

  .for-tablet {
    display: block;
    margin-top: -12rem;
    width: 47.8rem;
    height: 42.5rem;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    margin-right: -17rem;
  }

  .two-keyboards {
    gap: 3.05rem;
    margin-top: 4rem;
  }

  .glass-keyboard {
    display: none;
  }

  .glass-tablet {
    display: block;
    width: 44.5rem;
    height: 32rem;
    border-radius: 2rem;
    transform: translateX(0rem);
  }

  .phone-keyboard {
    background-image: url(./assets/image-phone-and-keyboard-tablet.jpg);
    width: 21.4rem;
    height: 32rem;
    border-radius: 2rem;
  }

  .text {
    display: flex;
    flex-direction: row;
    margin-top: 8.7rem;
    gap: 3.6rem;
  }

  .text h2 {
    text-align: start;
  }
  .text p {
    width: 43ch;
  }

  .whole-container {
    margin-top: 14.2rem;
    flex-flow: row wrap;
  }

  .box {
    display: flex;
    align-items: flex-start;
    text-align: left;
  }

  .box .under-icon {
    text-align: start;
  }
  .easy-texts {
    text-align: start;
  }

  .width1 {
    width: 32ch;
  }

  .width2 {
    width: 31ch;
  }

  .width3 {
    width: 31ch;
  }

  .width4 {
    width: 32ch;
  }

  footer {
  }
}
