@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&display=swap");
html {
  font-size: 10px;
}

* {
  font-family: "Barlow", sans-serif;
}

body {
  background: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  padding: 2.3rem 2.4rem 0;
  gap: 13.65rem;
}

.logo {
  width: 4rem;
  height: 4rem;
}

.pre-order-button {
  width: 15rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  background: #e8eff2;
  color: #162542;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 6.4rem;
}

.about-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.about-product h1 {
  color: #162542;
  font-size: 4.8rem;
  font-weight: 900;
  line-height: 4.8rem;
  width: 12ch;
  text-transform: uppercase;
}

.about-product p {
  color: #7b8bad;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 2.6rem;
  width: 36ch;
}

.purchase {
  display: flex;
  gap: 5rem;
  align-items: center;
}

.pre-order-now {
  width: 15rem;
  height: 4.8rem;
  border-radius: 0.8rem;
  border: none;
  background: #f16718;
  color: #fff;
  font-size: 1.6rem;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 2.6rem;
}

.release-on {
  color: #7b8bad;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2.6rem;
  text-transform: uppercase;
}

.keyboard img {
  margin-top: 7rem;
  width: 35rem;
  height: 33.1rem;
  border-bottom-left-radius: 2rem;
  border-top-left-radius: 2rem;
  margin-left: 3rem;
}

.parent {
  display: flex;
  flex-direction: column;
}

.two-keyboards {
  display: flex;
  gap: 2rem;
  margin-top: 2rem;
}
